@using MVCProject.ViewModels
@model UserViewModel

@{
    ViewData["Title"] = "LMS - HomePage";
}
<div>
    <h3 class="display-4 mt-3">Welcome to our Library Management System!</h3>
    <div class="d-flex align-items-center justify-content-center flex-column">
        <p>In order to get access to the full content of this page, please authenticate.</p>
        <div class="d-flex align-items-center justify-content-center flex-row">
            <a class="btn btn-primary m-2" asp-controller="Authentication" asp-action="Login">Login</a>
            <a class="btn btn-primary m-2" asp-controller="Authentication" asp-action="Register">Register</a>
        </div>
    </div>
</div>
