<form method="post" class="vw-100 vh-90 d-flex justify-content-center align-items-center">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <p>Are you sure you want to logout?</p>
                <p>
                    <button type="submit" class="btn btn-primary" asp-action="OnPostLogout">Yes</button>
                    <button type="submit" class="btn btn-primary" asp-action="OnPostDontLogout">No</button>
                </p>
            </div>
        </div>
    </div>
</form>